<!DOCTYPE html>
<html ng-app="Main">
<head >
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Webshop</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>



<div ng-controller="cartController" class="pull-right cartthing">	
	<h3>Cart</h3>
	<table>
	<tr ng-repeat="cartProduct in cartProducts">
		<td>{{cartProduct.product.name}}, quantity: {{cartProduct.quantity}}</td>
		
	</tr>
	</table>
	<a ng-href="#/checkout"><button type="button" class="btn btn-success"><li>Checkout</li></button></a>
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#cart">Show cart</button>
</div>

	

	<div class="modal fade" id="cart">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Cart contains:</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover table-condensed" border="2">
						<tr ng-repeat="cartProduct in cartProducts">
							<td>{{cartProduct.product.name}}</td>
							<td>{{cartProduct.quantity}} &times; {{cartProduct.product.price}}.-</td>
							<td> = {{cartProduct.quantity * cartProduct.product.price}} .-</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div> 	


<div ng-view></div>




</div>
	<script src="js/jquery/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="js/app.module.js"></script>	
	<script src="products/products.service.js"></script>
	<script src="cart/cart.service.js"></script>
	<script src="products/products.controller.js"></script>
	<script src="products/product.controller.js"></script>	
	<script src="cart/cart.controller.js"></script>


</body>
</html>